.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #adb5bd;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  padding-top: 20%;
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
  background: #A876D8;
  color: floralwhite; }

  .background
  {
  background-image: url("../img/jumbo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }
  .img-alter
  {
    height: 250px;
    width: 250 px;
  }
  .img-alter1
  {
    height: 250px;
    width: 300px;
  }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #000000; 
  opacity: 98%; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #0f0f0f; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

.modal-header {
  background-color: #495057; }
  .modal-header .modal-title {
    color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background-color: #ced4da; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

  .carousel-caption {
    top: 0;
    bottom: auto;
    margin-left: 200px;
}
 
.card-img-alter
{
  height: 250px;
  width: auto;
}